src/conf/xml-resources/web-service-references/ControllerService/wsdl/localhost_8080/BankService/ControllerService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.bank.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.bank.com/">

<xs:element name="lookLikeBalance" type="tns:lookLikeBalance"/>

<xs:element name="lookLikeBalanceResponse" type="tns:lookLikeBalanceResponse"/>

<xs:complexType name="lookLikeBalance">
<xs:sequence>
<xs:element name="numberCard" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lookLikeBalanceResponse">
<xs:sequence>
<xs:element name="return" type="tns:accountLimit" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="accountLimit">
<xs:sequence>
<xs:element name="balanceCard" type="xs:long"/>
<xs:element name="limitCard" type="xs:long"/>
<xs:element name="nameOf_Bank" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>